body{
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
    background: #ebebeb;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}


/* HEADER */
header{
    background-color: #EAC926;
}

header p{
    text-align: center;
}

header ul{
    padding-left: 0;
}
header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: black;
}

#header-div-barraBusqueda{
    padding-left: 1.5rem;
    width: 45%;
    display: inline-block;
}

header img{
    width: 45%;
}

#header-button-buscar{
    background: none;
    border: none;
}

#header-icono-buscar{
    border: solid black 1px;
    background: white;
    padding: 1px;
}

#header-contenedor-iconoBusqueda{
    margin-top: 0.3rem;
}

#menu-hamburguesa:hover{
    cursor: pointer;
}
#div-menu-hamburguesa{
    text-align: center;
    padding: 5px;
}
#menu-hamburguesa{
    color: white;
    border: blue solid 2px;
    padding: 4px;
    background: blue;
    border-radius: 5px;
}
nav{
    display: none;
}


/*   IMAGEN BAJO HEADER     */
#imagen-debajo-header{
    width: 100%;
}


/******* MAIN *********/

main{
    width: 90%;
    margin: auto;
    color: #666;
}

main article{
    background: white;
    margin: 10px;
}

.div-contenedor-todo{
    border-top: #ebebeb solid 1px;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
}

article img{
    width: 100%;
}

p{
    font-size: 12px;
}

h3{
    font-size: 24px;
}

.precios{
    font-size: 18px;
    width: 30%;
}

.descuentos{
    font-size: 16px;
    color: #39b54a;
    width: 70%;
    
    padding-top: 2px;
}

.descripciones{
    font-size: 16px;
    display: none;
}

.main-article-iconoCamion{

    color: #39b54a;
    border: #39b54a solid 1.5px;
    border-radius: 50%;
    padding: 7px;
} 

.contenedor-precio-descuento{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%
}

/* FOOTER */

footer{
    color: #666;
    background: white;
}

footer i{
    width: 2em;
}

.footer-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

footer article div{
    text-align: center;
}

footer article h4{
    margin: 3px;
}

footer article p{
    margin: 3px;
    text-align: justify;
}

.footer-iconos{
    color: rgb(60, 0, 255);
    font-size: 2em;
}


/* FORM REGISTRACION */

#form-registracion{
    padding: 5%;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    border: solid 1px  rgb(100, 100, 100);
}

.labelForm{
    font-weight: 900;
    font-size: 18px;
}

#nombre-y-apellido{
    border-radius: 7px;
}

#nombre-usuario{
    border-radius: 7px;
}

#correo-electrónico{
    border-radius: 7px;
}

#fecha-nacimiento{
    border-radius: 7px;
}

/* LOGIN */

#main-login{
    padding: 15px;
}

#main-login-form{
    padding: 5%;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    border: solid 1px  rgb(100, 100, 100);
    border-radius: 10px;
}

/* TABLETS */
@media (min-width: 426px){
    main article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    main{
        margin: auto;
    }
    nav{
        display: flex;
        justify-content: space-around;
    }

    nav ul li a {
        font-size: 13px;
        padding: 5px;
    }

    nav ul{
        display: flex;
    }

    .descripciones{
        display: block;
    }

    #div-menu-hamburguesa{
        display: none;
    }

    .contenedor-articles{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    main section div article{
        width: 40%;
    }

    header div img{
        width: 33%;
    }

    .header-flex{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    #header-div-barraBusqueda{
        width: 33%;
        display: flex;
        align-items: center;
        
    }

    #header-div-barraBusqueda input{
        height: 22%;
        margin-right: 5px;
    }
    /*  FORM REGISTRACION */

    #form-registracion{
        margin: auto;
        width: 30%;
        border-radius: 10px;
    }

    #main-form{
        padding: 17px;
    }

    /* LOGIN FORM */
    #main-login-form{
        margin: auto;
        width: 30%;
        border-radius: 10px;
    }
}





/* DESKTOP*/
@media (min-width: 769px){
    main section div article{
        width: 22%;
    }

    nav ul li a {
        font-size: 16px;
        padding: 10px;
    }
}